body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
        sans-serif;
}
.navbar-container {
    box-shadow: 0px 4px 5px 0px rgba(122, 170, 191, 0.71);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(122, 167, 191, 0.71);
    -moz-box-shadow: 0px 4px 5px 0px rgba(122, 170, 191, 0.71);
}
.navbar {
    max-width: 1560px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-left svg {
    font-size: x-large;
    width: 50px;
    margin-right: 20px;
}

.navbar-left div {
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-left div:hover {
    color: #00754a;
}


.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}


.sonuc,
.giris,
.kayit {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

.kayit {
    background-color: black;
    color: white;
}

.kayit:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.giris:hover {
    background-color: rgb(255, 0, 0);
}

.sonuc {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.sonuc:hover{
    background-color: rgba(0, 0, 0, 0.309);
    
}

.container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.week{
    display: block;
    position: relative;
}
.net{
    display: block;
    position: relative;
    height: 100px;

}

input[type=week]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #28cf55;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: inset 0px -1px 0px 0px #28cf55;

}
input[type=week]:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
input[type=text]:focus{
    border-color: #66e97c;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 233, 185, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102, 233, 159, 0.6);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial,
    sans-serif;
    font-size: large;
    font-weight: 600;

}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px rgb(57, 57, 57);
    transform: translateY(1px);
    
}


.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;

}

.OhWhoAmI{
    line-height: 2.5rem;
}
.TODO {
    line-height: 1.2rem;
    font-size: smaller;
    font-weight: 100;
    opacity: 0.5;
    color: #00754a;
}


.contact{
    padding: 10px;
	display: flex;
	position: center;
    align-items: space-around;
	justify-content:center;
    flex-direction: row;

}

.contact a {
    margin: 10px;
    font-size: 2rem;
    text-align:center;
    display: inline-block;
	color: #0b0b0b;
}

.contact:hover{
    color: #00754a;
    
}